.welcome
{
  width: 200px;
  color: #443F5E;
  text-align: center;
  font-family: arial;
  font-style: italic;
  font-weight: bold;
}

.welcome img
{
  height: 200px;
  width: 200px;
}

.welcome *
{
  display: block;
  margin: 4px auto;
}

.modal
{
  -webkit-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
  box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
  padding: 20px;
  border: solid 1px #000000;
  margin: auto;
  background-color: #EBE9D8;
}

.chat
{
  width: 700px;
  height: 500px;
  padding: 20px;
}

.messageBox
{
  height: 460px;
  padding: 6px;
  background-color: #FFFFFF;
  margin: auto;
  border: solid 1px #000000;
  overflow: scroll;
}

.messageInput
{
  width: 620px;
}

.sendBar
{
  width: 100%;
  padding: 10px 0;
}

input
{
  outline: none;
  height: 16px;
}

input[type="text"]
{
  text-align: left;
  border: solid 1px #000000;
}

input[type="submit"]
{
  width: 65px;
  height: 25px;
  border-radius: 5px;
  background-color: #CCCCCC;
  color: #0D0D0D;
}

input[type="submit"]:hover
{
  background-color: #D9D9D9;
}

.messageComponent div
{
  display: inline-block;
  padding-right: 4px;
  word-break: break-all;
}

.screenName
{
  font-family: "georgia";
  font-weight: bold;
}

.sent
{
  color: #FF1E1E;
}

.signon,
.signoff,
.received
{
  color: #1C1CFF;
}